@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
:root {
	--hero-image: 500px;
	--space: 50px;
	--space-2: 20px;
	--space-top: 50px;
	--section-space-extra: 120px;
	--section-space: 65px;
	--space-top-2: 20px;
	--space-bottom: 50px;
	--extra-space: 100px;
	--heading: x-large;
	--headeing-2: large;
	--title: 35px;
	--healine: 40px;
	--space-in: 10px;
	--description: 18px;
	--fotospace: 17px;
	--thin: 600;
	--ultra-thin: 500;
	--primary: #663399;
	--secondary: blueviolet;
	--hover: blueviolet;
	--body-color: aliceblue;
}

/* Reset */

* {
	font-family: 'IBM Plex Sans Arabic', sans-serif;	
	list-style: none;
	text-decoration: none;
	color: black;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--body-color);
	overflow-x: hidden;
}
	.order-1 {
		order: 1;
	}

	.order-2 {
		order: 2;
	}

	.order-3 {
		order: 3;
	}

	.order-4 {
		order: 4;
	}

.spec { 
	display: flex;
}
/* Utilities */

.rtl-text {
	text-align: right;
}

.container {
	padding: 0 10%;
}

.center_row {
	display: flex;
	justify-content: center;
}

.center_column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	display: flex;
	gap: 20px;
}

.notation span {
	padding: 3px;
	background-color: yellow;
}

.heading {
	font-size: var(--heading);
}

.heading-2 {
	font-size: var(--headeing-2);
}

.sub-heading {
	font-size: 25px;
}

.details {
	margin-top: var(--space-top-2);
}

.description {
	margin-top: var(--space-top-2);
	font-size: var(--description);
	font-weight: var(--ultra-thin);
	line-height: 27px;
}

.small-details {
	margin-top: var(--space-top-2);
	font-size: 15px;
	font-weight: var(--ultra-thin);
	line-height: 27px;
} 

.more_link {
	color: var(--primary);
	font-weight: var(--thin);
	font-size: var(--fotospace);
}

.link:hover {
	color: var(--hover);
}

.mute_text {
	color: gray;
}

.primary_button_extra {
	border: none;
	cursor: pointer;
	width: 350px;
	margin: var(--space-2);
	padding: 15px 0;
	border-radius: 30px;
	background-color: var(--primary);
	color: white;
	font-weight: var(--thin);
	font-size: var(--headeing-2);
	transition: 300ms background-color ease;
	z-index: 3;
}

.primary_button_extra:hover {
	background-color: var(--hover);
}

.primary_button_outline {
	background-color: var(--primary);
	border: 1px var(--primary) solid;
	border-radius: 15px;
	color: white;
	width: 100px;
	height: 30px;
	cursor: pointer;
	transition: 300ms all ease;
}

.primary_button_outline:hover {
	background-color: white;
	color: black;
}

.inner_space {
	padding-top: var(--section-space);
	padding-bottom: var(--space-bottom);
}

.inner_space_extra {
	padding-top: var(--section-space-extra);
	padding-bottom: var(--space-bottom);
}

.space {
	margin-bottom: var(--space-2);
}

.space-around {
	margin-top: var(--space-2);
}

.title {
	font-size: var(--title);
}

.off-white-text {
	color: white;
}

.text-center {
	text-align: center;
}

.marker {
	color: yellow;
}

.rtl-title {
	justify-content: end;
}

.column {
	display: flex;
}

.column-right {
	justify-content: end;
}

/* Navigation Section */
header {
	position: sticky;
	top: 0;
	z-index: 5;
	margin: 0 auto;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
	background-color: white;
}

.navigation {
	padding: 20px 0;
}

.navigation .nav_items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation .links_container {
	display: flex;
	justify-content: space-between;
	gap: 50px;
}

.order {
	order: 1;
}

.switch_panel {
	display: flex;
	align-items: center;
	gap: 30px;
	order: 2;
}

.navigation .links_container .nav_link {
	position: relative;
	display: inline-block;
	z-index: 1;
}

.navigation .account_items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
}

.navigation .account_items li {
	display: flex;
	align-items: center;
	gap: 15px;
}

.switch {
	position: relative;
	appearance: none;
	outline: none;
	width: 50px;
	height: 30px;
	background-color: #ffffff;
	border: 1px solid #D9DADC;
	border-radius: 50px; 
	cursor: pointer;
	transition: 0.3s ease transform, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

.switch:active::after {
	width: 32px;
	border-radius: 100px;
}

.switch:checked:active::after {
	margin-left: -6px;
}

.switch::after {
	position: absolute;
	content: '';
	top: 1px;
	left: 1px;
	width: 26px;
	height: 26px;
	background-color: white;
	border-radius: 50%;
	box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
	transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

.switch:checked {
	border-color: var(--primary);
	background-color: var(--primary);
}

.switch:checked::after {
	transform: translateX(20px);
}

/* Hero Section */
.hero_section {
	display: flex;
	background-color: white;
	height: 470px;
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: -1;
	background-image: url('./assets/Female.png');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 390px;
}

.hero-title {
	line-height: 100px;
}

.hero_section .blocks_container {
	position: relative;
}

.hero_section .features_blocks {
	position: absolute;
	top: 120px;
	right: 100px;
}

.left {
	left: 100px;
}

.hero_section .features_blocks .block {
	position: relative;
	width: 200px;
	height: 70px;
	margin: 20px;
	padding: 30px;
	background-color: white;
	border: 1px var(--primary) solid;
	border-radius: 15px;
	cursor: pointer;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.hero_section .features_blocks .block .circle-block {
	position: absolute;
	display: inline-block;
	top: 48px;
	right: -15px;
	width: 30px;
	height: 30px;
	background-color: #663399;
	border-radius: 50%;
}

.circle-right {
	right: initial;
	left: -15px;
}

.hero_section .features_blocks .block:hover h1 {
	color: var(--secondary);
}

.hero_section .left_section .title {
	position: relative;
	font-size: var(--healine);
	z-index: 1;
	line-height: 80px;
}

.hero_section .left_section p {
	font-size: 20px;
	margin: 25px 0;
	font-weight: 100;
}

.hero_section .hero_image {
	width: var(--hero-image);
	height: var(--hero-image);
	transform: translateX(50px);
	margin-top: 20px;
}

.image-rtl {
	margin-right: 0;
	margin-left: 200px;
}

.create_account_divsion {
	position: relative;
	z-index: 3;
}

.create_account_divsion input {
	width: 300px;
	height: 25px;
	padding: 5px;
	font-size: 20px;
	border: 1px rgb(184, 183, 183) solid;
	border-radius: 10px;
}

.input-left {
	text-align: right;
	margin-left: 250px;
}

.account-button {
	position: absolute;
	top: -4px;
	left: 200px;
	width: 300px;
	height: 45px;
	padding: 5px;
	border: none;
	border-radius: 25px;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
	background-color: var(--primary);
	color: white;
	cursor: pointer;
}

.button-right {
	left: 40px;
}

.create_account_divsion button:hover {
	background-color: var(--hover);
}

.hero_section .create_account_divsion p {
	font-size: 15px;
	color: grey;
}

/* Brands Section */

.brands_section {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.brands_section h4 {
	font-weight: 100;
}

.brands ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	filter: grayscale();
	opacity: 0.6;
	gap: 20px;
}

.brands .logo_brand {
	width: 70px;
}

.brands_section .specs_divison {
	font-size: 1.4em;
	margin-top: var(--space-top);
}

.brands_section .specs_divison .title {
	position: relative;
}

.brands_section .specs_divison .two_column_list  {
	margin-top: var(--space-top);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	gap: 20px;
	font-size: 20px;
}

.brands_section .specs_divison .two_column_list i {
	font-size: 40px;
	color: var(--primary);
}

.brands_section .specs_divison .two_column_list .headline {
	display: flex;
	align-items: center;
	gap: 20px;
}

.brands_section .specs_divison .two_column_list .description {
	/* margin:35px 0; */
	font-weight: 100;
	font-size: 0.9em;
}

.brands_section .specs_divison .two_column_list .notation {
	margin:  40px 0;
	font-weight: 600;
	font-size: 15px;
}

/* Tools section */

 .tools_section {
	background-color: white;
	font-size: var(--heading);
 }

 .tools_section .people_divison {
	margin-top: var(--space-top);
	gap: var(--space-in);
 }

 .tools_section .people_divison .person_block {
	position: relative;
	width: 280px;
	height: 180px;
	padding-top: 20px;
	overflow: hidden;
 }

 .tools_section .people_divison .person_block .person_image {
	position: absolute;
	top: 0;
	right: -5px;
	width: 200px;
	filter: drop-shadow(-50px 50px 30px rgba(0,0,0,0.5));
 }

  .tools_section .people_divison .person_block .back_frame {
	background-color: var(--primary);
	 width: 200px;
	 height: 180px;
  }

.tools_section .people_divison .details .link_block {
	padding: 20px 0;
}

.tools_section .people_divison .details .list_block {
	font-size: var(--fotospace);
}

.tools_section .people_divison .details .list_block ul li {
	display: flex;
	align-items: center;
	gap: var(--space-in);
	margin-top: var(--space-top-2);
}

.tools_section .features_divison {
	margin-top: var(--space-top);
}

.price_section .price_divison .price_blocks {
	display: flex;
	padding: var(--space);
	justify-content: center;
	align-items: center;
}

.price_section .price_divison .price_block {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--space) var(--space-2);
	width: 250px;
	height: 480px;
	background-color: white;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.price_section .price_divison .price_block:nth-of-type(2) {
		background-color: var(--secondary);
		z-index: 1;
}

.price_section .price_divison .pricing-divison {
	margin-top: 50px;
}

.price_section .price_divison .features_list {
	padding: 20px;
	width: 80%;
}

.price_section .price_divison .features_list ul {
	height: 500px;
	font-size: small;
	overflow: hidden;
}

.price_section .price_divison .features_list ul li i {
	color: var(--primary);
}
.price_section .price_divison .features_list ul li {
	display: flex;
	gap: 15px;
}

#middle_list li span {
	color: white;
}

#middle_list li i {
	color: yellow;
}

.support_section {
	height: 200px;
	background-color: white;
}

.navigation .nav_items .hamburger {
	display: none;
}


.hamburger .bar {
	width: 50px;
	height: 5px;
	border-radius: 20px;
	background-color: #663399;
}

.animateBar1 {
	animation: flipBar1 1s forwards;
}

.animateBar2 {
	animation: flipBar 1s forwards;
}

.animateBar3 {
	animation: flipBar3 1s forwards;
}

@keyframes flipBar {
	from {
		transform: scaleX(1);
		opacity: 1;
	}
	to {
		transform: scaleX(0);
		opacity: 0;
	}
}

@keyframes flipBar1 {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(45deg) translate(4px,10px);
	}
}

@keyframes flipBar3 {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(-45deg) translate(4px,-10px);
	}

}

@media only screen and (max-width: 1200px) {
	.hero_section {
		background-position: 320px 70px;
		background-size: 370px;
	}

	.row {
		flex-wrap: wrap;
		justify-content: start;
		margin-left: 50px;
	}

	.tools_section .people_divison .person_component .details {
		text-align: center;
	}
}

.mobile-nav {
	text-align: center;
	width: 250px;
	background-color: white;
	height: 100vh;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 4;
	top: 0;
	left: -250px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	transition: transform 500ms ease;
}

.mobile-nav .mobile-link{
	margin: 16px 0;
}

.open-nav {
	transform: translateX(250px);
}

@media only screen and (max-width: 1050px) {

	.mobile-nav {
		display: flex;
	}

	.brands-heading {
		font-size: 30px;
	}

.navigation .nav_items .hamburger {
	display: flex;
	flex-direction: column;
	gap: 5px;
	cursor: pointer;
}

	.navigation .nav_items .links_container {
		display: none;
	}

	.hero_section .features_blocks {
		top: 250px;
	}

	.hero_section .features_blocks .block {
		width: 130px;
		height: 30px;
		font-size: 10px;
	}

	.specs_divison .specs-title {
		font-size: 20px;
	}

	.hero_section .features_blocks .block .circle-block {
		top: 30px;
	}

	.hero_section .left_section {
		text-align: center;
	}

	.hero_section .left_section .title {
		font-size: 30px;
		line-height: 70px;
	}

	.hero_section .left_section .hero-description {
		font-size: 15px;
	}

	.hero_section .left_section .account-button {
		width: 200px;
		margin: 0;
	}

	.button-right {
		left: 170px;
	}

	.hero_section {
		background-size: 300px;
		background-position: bottom;
	}

	.row {
		flex-wrap: wrap;
		justify-content: center;
	}

	.tools_section .people_divison .person_component .details {
		text-align: center;
	}

	.column {
		justify-content: center;
	}

	.order-1 {
		order: 4;
		margin-bottom: 50px;
	}

	.order-2 {
		order: 3;
		margin-bottom: 50px;
	}

	.order-3 {
		order: 2;
		margin-bottom: 50px;
	}

	.order-4 {
		order: 1;
		margin-bottom: 50px;

	}

}

@media only screen and (max-width: 960px) {

	.price_section .price_blocks {
		flex-direction: column;
	}

	.plans-description {
		font-size: 30px;
	}

	.plans-list-item {
		font-size: 15px;
	}

	.price_section .price_divison .price_block {
		width: 600px;
	}

	.hero_section {
		flex-direction: column;
		height: 750px;
	}

		.brands-heading {
		font-size: 25px;
	}

	.hero_section .features_blocks {
		top: 500px;
	}

	 .rtl-text {
		text-align: center;
	}

	.order {
		order: initial;
	}

	.hero_section .create_account_divsion {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.hero_section .create_account_divsion .account-button {
		left: 340px;
	}

	.create_account_divsion input {
		text-align: start;
		margin:0 130px;
	}
}

@media only screen and (max-width: 750px) {
	.price_section .price_divison .price_blocks {
		padding: 0;
		width: 400px;
	}

	.center_column {
		padding: 0;
		margin: 0;
	}

	.price_section .price_divison .price_block {
		width: 400px;
	}
	.price_section {
		justify-content: center;
		width: 500px;
		padding: 0;
		margin: 0;
	}
	
}

@media only screen and (max-width: 600px) {
	.brands_section {
		justify-content: center;
		width: 300px;
		margin: 0 auto;
	}

	.price_section {
		display: none;
	}

	.brands_section .specs_divison {
		text-align: center;
		margin: 0 auto;
	}

	.brands_section .specs_divison .two_column_list {
		width: 100%;
		font-size: 20px;
	}
	
	.brands_section .specs_divison .two_column_list .row {
		margin: 0;
	}

.brands .logo_brand {
	width: 30px;
}

.navigation .nav_items .account_items {
	display: none;
}

.left {
	left: 0;
}
	.hero_section  .features_blocks {
		right: 0px;
	}

	.hero_section .features_blocks .block {
		top: 20px;
		padding: 40px;
		width: 70px;
	}

	.hero_section {
		background-position: 30px bottom;
	}
}