:root {
	--hero-image: 600px;
	--space: 50px;
	--space-2: 20px;
	--space-top: 50px;
	--section-space-extra: 120px;
	--section-space: 65px;
	--space-top-2: 20px;
	--space-bottom: 50px;
	--extra-space: 100px;
	--heading: x-large;
	--headeing-2: large;
	--title: 35px;
	--healine: 50px;
	--space-in: 10px;
	--description: 18px;
	--fotospace: 17px;
	--thin: 600;
	--ultra-thin: 500;
	--primary: #663399;
	--secondary: blueviolet;
	--body-color: aliceblue;
}

/* Reset */

* {
	font-family: sans-serif;
	list-style: none;
	text-decoration: none;
	color: black;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--body-color);
}

/* Utilities */

.container {
	padding: 0 10%;
}

.center_row {
	display: flex;
	justify-content: center;
}

.center_column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	display: flex;
	align-items: start;
	gap: 20px;
}

.notation span {
	padding: 3px;
	background-color: yellow;
}

.heading {
	font-size: var(--heading);
}

.heading-2 {
	font-size: var(--headeing-2);
}

.details {
	margin-top: var(--space-top-2);
}

.description {
	margin-top: var(--space-top-2);
	font-size: var(--description);
	font-weight: var(--ultra-thin);
	line-height: 27px;
}

.more_link {
	color: var(--primary);
	font-weight: var(--thin);
	font-size: var(--fotospace);
}

.link:hover {
	color: var(--secondary);
}

.mute_text {
	color: gray;
}

.primary_button_extra {
	border: none;
	cursor: pointer;
	width: 350px;
	margin: var(--space-2);
	padding: 15px 0;
	border-radius: 30px;
	background-color: var(--primary);
	color: white;
	font-weight: var(--thin);
	font-size: var(--headeing-2);
	transition: 300ms background-color ease;
}

.primary_button_extra:hover {
	background-color: var(--secondary);
}

.primary_button_outline {
	background-color: var(--primary);
	border: 1px var(--primary) solid;
	border-radius: 15px;
	color: white;
	width: 100px;
	height: 30px;
	cursor: pointer;
	transition: 300ms all ease;
}

.primary_button_outline:hover {
	background-color: white;
	color: black;
}

.inner_space {
	padding-top: var(--section-space);
	padding-bottom: var(--space-bottom);
}

.inner_space_extra {
	padding-top: var(--section-space-extra);
	padding-bottom: var(--space-bottom);
}

.title {
	font-size: var(--title);
}

/* Navigation Section */
header {
	position: sticky;
	top: 0;
	z-index: 2;
	margin: 0 auto;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
	background-color: white;
}

.navigation {
	padding: 20px 0;
}

.navigation .nav_items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation .links_container {
	display: flex;
	justify-content: space-between;
	gap: 50px;
}

.navigation .links_container .nav_link {
	position: relative;
	display: inline-block;
	z-index: 1;
}

.navigation .account_items {
	display: flex;
	justify-content: space-between;
	gap: 50px;
}

/* Hero Section */
.hero_section {
	display: flex;
	background-color: white;
	height: 470px;
	overflow-y: hidden;
	z-index: -1;
}

.hero_section .left_section .title {
	position: relative;
	font-size: var(--healine);
	z-index: 1;
}

.hero_section .left_section h1::before {
	position: absolute;
	content: '';
	top: 5px;
	left: 0;
	width: 400px;
	height: 50px;
	background-color: yellow;
	display: inline-block;
	z-index: -1;
}

.hero_section .left_section h1::after {
	position: absolute;
	content: '';
	top: 65px;
	left: 95px;
	width: 200px;
	height: 50px;
	background-color: yellow;
	display: inline-block;
	z-index: -1;
}

.hero_section .left_section p {
	font-size: 20px;
	margin: 25px 0;
	font-weight: 100;
}

.hero_section .hero_image {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('./assets/Female.png');
	margin-right: 150px;
	width: var(--hero-image);
	height: var(--hero-image);
	z-index: 1;
}

.create_account_divsion {
	position: relative;
}

.create_account_divsion input {
	width: 300px;
	height: 25px;
	padding: 5px;
	font-size: 20px;
	border: 1px rgb(184, 183, 183) solid;
	border-radius: 10px;
}

.create_account_divsion button {
	position: absolute;
	top: -4px;
	left: 200px;
	width: 300px;
	height: 45px;
	padding: 5px;
	border: none;
	border-radius: 25px;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
	background-color: var(--primary);
	color: white;
	cursor: pointer;
}

.create_account_divsion button:hover {
	background-color: blueviolet;
}

.hero_section .create_account_divsion p {
	font-size: 15px;
	color: grey;
}


/* Brands Section */

.brands_section {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.brands_section h4 {
	font-weight: 100;
}

.brands ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	filter: grayscale();
	opacity: 0.6;
	gap: 20px;
}

.brands .logo_brand {
	width: 70px;
}


.brands_section .specs_divison {
	font-size: 1.4em;
	margin-top: var(--space-top);
}

.brands_section .specs_divison .title {
	position: relative;
}

.brands_section .specs_divison .title::before {
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	right: 0;
	width: 330px;
	height: 35px;
	background-color: yellow;
	z-index: -1;
}

.brands_section .specs_divison .two_column_list  {
	margin-top: var(--space-top);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	gap: 20px;
	font-size: 20px;
}

.brands_section .specs_divison .two_column_list i {
	font-size: 40px;
	color: var(--primary);
}

.brands_section .specs_divison .two_column_list .headline {
	display: flex;
	align-items: center;
	gap: 20px;
}

.brands_section .specs_divison .two_column_list .description {
	margin:35px 0;
	font-weight: 100;
	font-size: 0.9em;
}

.brands_section .specs_divison .two_column_list .notation {
	margin:  40px 0;
	font-weight: 600;
	font-size: 15px;
}

/* Tools section */

 .tools_section {
	background-color: white;
	font-size: var(--heading);
 }

 .tools_section .people_divison {
	margin-top: var(--space-top);
	gap: var(--space-in);
 }

 .tools_section .people_divison .person_block {
	position: relative;
	width: 280px;
	height: 180px;
	padding-top: 20px;
	overflow: hidden;
 }

 .tools_section .people_divison .person_block .person_image {
	position: absolute;
	top: 0;
	right: -5px;
	width: 200px;
	filter: drop-shadow(-50px 50px 30px rgba(0,0,0,0.5));
 }

  .tools_section .people_divison .person_block .back_frame {
	background-color: var(--primary);
	 width: 200px;
	 height: 180px;
  }

.tools_section .people_divison .details .link_block {
	padding: 20px 0;
}

.tools_section .people_divison .details .list_block {
	font-size: var(--fotospace);
}

.tools_section .people_divison .details .list_block ul li {
	display: flex;
	align-items: center;
	gap: var(--space-in);
	margin-top: var(--space-top-2);
}

.tools_section .features_divison {
	margin-top: var(--space-top);
}

.price_section {

}